<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
   
    <ion-title>
     Programa {{this.destinatario}}
    </ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fond">
  <div *ngFor="let data of metricasD ">
    <h2>M e t r i c a s:</h2>
    <!--<pre>{{ fileContent }}</pre>-->
    <pre>1. H: {{ data.H }}</pre>
    <pre>2. N: {{ data.N }}</pre>
    <pre>3. n: {{ data.n }}</pre>
    <pre>4. V: {{ data.V }}</pre>
    <pre>5. D: {{ data.D }}</pre>
    <pre>6. L: {{ data.L }}</pre>
    <pre>7. E: {{ data.E }}</pre>
    <pre>8. T: {{ data.T }}</pre>
    <pre>9. Total Líneas de Codigo: {{ data.LoC }}</pre>
    <pre>10. Total Líneas de Codigo Comentadas: {{ data.CLoC }}</pre>
  </div>

  <!--<div >
    <h2>Contenido del programa:</h2>
    <pre>{{ fileContent }}</pre>
    <pre> </pre>
  </div>-->
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent translucent>
    <div class="input-text">
      Metricas software Martin Sanchez Gonzalez 2023B
    </div>

  
  </ion-toolbar>
</ion-footer>