<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Metricas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Metricas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [routerLink]="['details/1']" routerDirection="forward">
    <ion-card-header>
      <ion-card-title>Programa 1</ion-card-title>
      <ion-card-subtitle>Programas Python</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  
  </ion-card>

  <ion-card [routerLink]="['details/2']" routerDirection="forward">
    <ion-card-header>
      <ion-card-title>Programa 2</ion-card-title>
      <ion-card-subtitle>Programas Python</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  
    

  </ion-card>

  <ion-card  [routerLink]="['details/3']" routerDirection="forward">
    <ion-card-header>
      <ion-card-title>Programa 3</ion-card-title>
      <ion-card-subtitle>Programas Python</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  

  </ion-card>
  <ion-content>
  
  </ion-content>
  <ion-footer >
    <ion-toolbar >
      <div class="input-text">
        Metricas software Martin Sanchez Gonzalez 2023B
      </div>
  
    
    </ion-toolbar>
  </ion-footer>

</ion-content>
