<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Docs</ion-title>
    </ion-toolbar>
  </ion-header>

 <!-- <div id="container">
    <strong class="capitalize">Analizar </strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Componentssss</a></p>
  </div>-->

  <input type="file" (change)="onFileSelected($event)" accept=".txt">
  <div *ngIf="fileContent">
    <h2>M e t r i c a s:</h2>
    <!--<pre>{{ fileContent }}</pre>-->
    <pre>1. H: {{ H }}</pre>
    <pre>2. N: {{ N }}</pre>
    <pre>3. n: {{ n }}</pre>
    <pre>4. V: {{ V }}</pre>
    <pre>5. D: {{ D }}</pre>
    <pre>6. L: {{ L }}</pre>
    <pre>7. E: {{ E }}</pre>
    <pre>8. T: {{ T }}</pre>
    <pre>9. Total Líneas de Codigo: {{ LoC }}</pre>
    <pre>10. Total Líneas de Codigo Comentadas: {{ CLoC }}</pre>
  </div>
</ion-content>
